root = true

[*]
# Space indentation
indent_style = tab
# Set newlines with a newline ending every file
insert_final_newline = false
# Remove any whitespace characters preceding newline characters
trim_trailing_whitespace = true